<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Edit Proficiency</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <%= render "form", proficiency: @proficiency %>
        </div>
    </div>
</div>
