<h1><%= @character.name %></h1>
<h3>Race</h3>
<% if @character.race %>
<div><%= @character.race.name %></div>
<% end %>
<ul>
    <li>
        <%= link_to "Edit", edit_character_path(@character) %>
    </li>
    <li>
        <%= link_to "Destroy", character_path(@character), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
</ul>