<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Edit Race Trait</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <%= render "form", race_trait: @race_trait %>
        </div>
    </div>
</div>